* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container_header {
    background-color: rgba(137, 43, 226, 0.523);
    width: 80%;
    height: 100px;
    margin: auto;
    align-items: center;
}

.flex {
    display: flex;
}

.row_header {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.792);
}

.col-20 {
    width: 20%;
    height: 100%;
    border: 2px black dashed;
}

.col-60 {
    width: 60%;
    height: 100%;
    border: 2px black dashed;
}

.col-40 {
    width: 40%;
    height: 100%;
    border: 2px black dashed;
}

section {
    width: 100%;
    height: 400px;
}

.blue {
    background-color: rgb(87, 87, 174);
    justify-content: center;
}

.cube {
    width: 40%;
    height: 60%;
    background-color: lightgray;
    align-self: center;
}

.container {
    width: 80%;
    margin: auto;
    background-color: rgb(235, 197, 127);
    height: 80%;
    margin-top: 2rem;
}

.row_main {
    background-color: rgb(176, 82, 82);
    height: 85%;
    width: 100%;
    align-self: center;
}

.green {
    background-color: greenyellow;
    height: 80%;
    align-self: center;
    justify-content: center;
}

.card {
    height: 80%;
    align-self: center;
    margin: 1rem;
    width: 90%;
    background-color: rgb(93, 57, 127);
}

#section {
    width: 100%;
    height: 800px;
}

footer {
    background-color: rgb(10, 10, 49);
    height: 400px;
    width: 100%;
}

.container_footer {
    width: 80%;
    margin: auto;
    background-color: rgb(235, 197, 127);
    height: 80%;
    margin-top: 2rem;
}

.row_footer {
    background-color: rgb(176, 82, 82);
    height: 85%;
    width: 100%;
    align-self: center;
    padding-top: 1rem;
}

.beije {
    background-color: beige;
    height: 80%;
    align-self: center;
    justify-content: center;
}

.col-4 {
    width: calc(100% * 4/12);
    margin-right: 5px;
}

.col-2 {
    width: calc(100% * 2/12);
    margin-right: 5px;
}

.row {
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    margin-top: 0.3rem;
}

.col-10 {
    background-color: beige;
    width: 10%;
    height: 80%;
    border: 1px black dashed;

}